@import "./assets/fonts/css/panchang.css";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@import './styles/keyframes.scss';

* {
  margin:0;
  padding: 0;

  color: white;
}

.app {

}

.topbar {
  backdrop-filter: blur(5px);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));

  position: fixed;
  top: 0;

  width: 100vw;
  height: 62px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  user-select: none;

  .logo {
    height: 100%;
    text-align: center;
    display: inherit;
    align-items: center;
    justify-content: center;

    margin-left: 70px;

    color: white;
    font-family: "Panchang";
  }

  .account {
    width: 50px;
    height: 50px;

    background-color: #02111b;
    border-radius: 50%;

    margin-right: 70px;
    display: inherit;

    justify-content: center;

    img {
      width: 50%;
    }
  }
}

main {
  padding-top: 62px;

  p {
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
  }

  article {
    margin-left: 70px;
    margin-top: 50px;
    user-select: none;

    .desc-text {
      margin-left: 0;
      margin-top: 20px;

      &:first-of-type {
        margin-top: 40px;
      }

      &:before {
        content: "> ";
      }

      &:last-of-type:after {
        content: " _";

        animation: .6s blink infinite steps(1);
      }
    }

    img {
      position: absolute;
      bottom: 0;
      right: 20px;
      width: 1000px;
    }
  }

  h1 {
    font-family: Panchang-Bold;

    &:after {
      display: inline-block;
      position: relative;
      float: end;
      content: url('./assets/images/after-thingy.svg');
      height: 90px;
      width: 400px;
      bottom: -17px;
    }
  }

  .main-text {
    font-family: Panchang-Bold;
    font-size: 80px;
  }
}